
// full list of Bootstrap variables:
// http://getbootstrap.com/customize/#less-variables
// use $ instead of @ (for scss vs less)
// customize bootstrap variables before importing:
$navbar-default-bg: #003366;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-link-active-bg: transparent;
$navbar-height: 80px;

//these should be same color to avoid flickering effect with one-page scroll
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: gold;

$navbar-default-color:  #fff;
$navbar-default-link-color: #fff;

//bootstrap to use only Open Sans
$font-family-base: 'Open Sans', sans-serif;
// $grid-gutter-width: 0px;
// $container-lg: 940px;

//for contact form
 $input-border-focus: #003366;
 $brand-primary: #003366;

 //no border radius
 $border-radius-base: 0px;

//Import Bootstrap
// @import "variables";
@import 'bootstrap';
@import 'compass/css3';
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";

//Partials
@import "partials/contact";
@import "partials/accordion";
@import "partials/headers";
@import "partials/carousel";

//Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700);


html, body {
  height: 100%;
  width: 100%;
     margin: 0;
   padding: 0;
}






// html {
//     width: 100%;
//     height: 100%;
// }

h3 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

dt {
  letter-spacing: .05em;
  border-bottom: 1px solid #D2D294;
}


// section .container {
//   max-width: 940px !important;
// }

.navbar-nav > li > a {
padding-bottom: 5px;

}

// keeps bootstrap container within bounds of section
.container {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 970px !important;

}

//turn this into scss
.navbar {
box-shadow: 0px 2px 12px 3px #151515;
-moz-box-shadow: 0px 2px 12px 3px #151515;
-webkit-box-shadow: 0px 2px 12px 3px #151515;
text-transform: uppercase;
font-size: .85em;
letter-spacing: .1em;
}

.logo-slogan {
  display: block;
}

.navbar-brand {
  padding: 0;

  .slogan {
    float: bottom;
  }
}



//for customized jquery plugin, adding a '.grayscaled' class to each image it loads
.grayscaled {
  @include filter(grayscale(70%));
}

.grayscaled:after {
  background-color: rgba(255,255,255,.5);
  z-index: -999;
}




/* ===== Wrapper ====== */

.wrapper {
position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  z-index: 999;

}


/*  ======= Media Queries ====== */

@media (max-width: 767px) {


  .logo {
    margin-top: 10px;
    margin-left: 20px;
    height: 50px;

  }

  .home-section {
    padding-top: 80px !important;
    width: 100%;


  }

  .about-section,
  .services-section,
  .fleet-section,
  .reservations-section,
  .contact-section {
    width: 100%;
    padding-top: 150px !important;
    font-size: .9em !important;
  }


//   .navbar-brand {
//     padding-top: 10px;
//   }
 }

@media(min-width:767px) {



  .current {
  border-bottom-color: #D2D294;
  border-bottom-width:3px;
  border-bottom-style:solid;
  @include transition(all 0.4s ease-in-out);
}


    .logo {
      height: 80px;
      margin-left: 20px;

  }

  section {
<<<<<<< HEAD
    width: 90%;
    min-height: 100%;
=======
    width: 100%;
<<<<<<< HEAD
>>>>>>> master
=======
    border-right: 8px solid #003366;
border-left: 8px solid #003366;
>>>>>>> master
    dl {
      padding: 15px;
    }

  }

    .navbar-big {
      padding: 65px 0;
    }

    .navbar {
        // padding: 65px 0;
        -webkit-transition: background .4s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .4s ease-in-out,padding .5s ease-in-out;
        transition: background .4s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-nav {
      float: right;
    }

    .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
      padding: 0px 0px;

    }
}


@media(min-width:1200px) {
  section {
    width: 85%;
  }
  .home-section {
    width: 85%;
  }
}



/* ===== Home Services ===== */
.home-services {
  background: #CCCC99;
  color: white;
}
.home-services ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.home-services li {
  float: left;
  width: 24%;
  padding: 18px 3px;
  border-right: 1px solid #a3a37a;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  /* to avoid cell breaking during expanding on hover */
  -webkit-transition: width 300ms;
  -moz-transition: width 300ms;
  transition: width 300ms;
}
.home-services li:first-child {
  border-left: 1px solid #a3a37a;
}
.home-services ul:hover li {
  width: 20%;
}
.home-services ul:hover > li:hover {
  width: 36%;
}
.home-services li i {
  font-size: 22px;
}
.home-services li p {
  margin: 10px 0 0;
  text-transform: uppercase;
}
// .home-services li span {
//   display: none;
// }
// .home-services li:hover span {
//   display: inline-block;
// }
.home-services .lead {
  margin: 0;
  line-height: 93px;
}
@media (max-width: 992px) {
  /* Adjusting for small devices */
  .home-services ul {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* Adjusting for mobile */
  .home-services li {
    display: block;
    float: none;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #a3a37a;
      padding: 10px 3px;
  }
  .home-services li:first-child {
    border-left: 0;
  }
  .home-services ul:hover li {
    width: 100%;
  }
  .home-services ul:hover > li:hover {
    width: 100%;
  }
}





.home-section {
    height: 100%;

    margin: 0 auto;
    padding-top: 100px;

    background: rgba(255,255,255,.7);

    //only headers should be centered



}

.about-section {
    height: 100%;
    padding-top: 80px;

    margin: 0 auto;

  @media (max-width: 767px) {
    padding-bottom: 800px !important;
  }

    background: #eee;



    p {
      font-size: 16px;
    }
}

.services-section {
    height: 100%;
    padding-top: 80px;

    margin: 0 auto;

    background: #fff;

    font-size: 14px;
  @media (max-width: 767px) {
    padding-bottom: 600px !important;
  }

    dt {
      padding-top: .5em;
      padding-bottom: .5em;
    }
}

.fleet-section {
      height: 100%;
      padding-top: 80px;

    margin: 0 auto;

    padding-top: 80px;
    background: #eee;
}


.reservations-section {
    height: 100%;
    padding-top: 80px;

    margin: 0 auto;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 100px;

    margin: 0 auto;
    text-align: center;
    background: #eee;
}


// HELPERS

.delay-1 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: none;
  animation-delay: 300ms;
}
.delay-2 {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: none;
  animation-delay: 600ms;
}
.delay-3 {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: none;
  animation-delay: 900ms;
}
.delay-4 {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: none;
  animation-delay: 1200ms;
}

.uppercase {
  text-transform: uppercase
}

.italicize {
  font-style: italic;
  font-weight: 400;
  letter-spacing: .2em;
}
